<!doctype html>
<html>
<head>
    <title>UserTwo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/9758b9c0d3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa-solid fa-sack-dollar"></span> Ready to pay?</h1>
        <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User Login</h3>

                <% if (user.local.email) { %>
                    <p>
                        
                        <strong>email</strong>: <%= user.local.email %><br>

                    </p>

                    <a href="/unlink/local" class="btn btn-default">Disconnect account</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>20% Tip Calculator</h3>
          <h4>Don't be cheap, use this before you pay!</h4>
          <ul class="money">
          <% for(var i=0; i<money.length; i++) {%>
            <li class="money">
              <span><%= money[i].num %></span>
              <span><%= money[i].dBill %></span>
              <span><i class="fa-regular fa-money-bill-1" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Enter bill total</h2>
        <% if (user.local.email) { %>
          <form action="/money" method="POST">
            <input type="text" passholder="num" name="num">
            <!-- <input type="text" value="test" name="msg"> -->
            <button type="submit">Calculate</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
